#sec-modeles{
    background: #313131;
}
#sec-modeles .flex{
    margin: auto;
    padding: 20px 0 30px;
    max-width: 630px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#sec-modeles .flex div{
    margin: 3px;
}
