.flex{
    display: flex;
}

.d-inline-block{
    display: inline-block;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.w-50{
    width: 50%;
}
.p-2{
    padding: 20px;
}
.pl-2{
    padding-left: 20px;
}
pr-2{
    padding-right: 20px;
}
.single-modeles h2{
    color: white;
}
#sec-modeles{
    background: #313131;
}
#sec-modeles .flex, #realisations .flex{
    margin: auto;
    padding: 20px 0 30px;
    max-width: 630px;
    justify-content: space-around;
    flex-wrap: wrap;
}
#realisations .flex li{
    list-style-type: none;
    margin: 3px;
}
#sec-modeles .flex div{
    margin: 3px;
}
#sec-filtres, #sec-modeles,.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
#sec-filtres #filtres_modeles{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#sec-filtres #filtres_modeles select {
    width: 25%;
}
#loader{
    display: block;
    margin: auto;
}
.spec table th{
    text-align: left;
}